body {
	font-family: Hiragino Sans, "ヒラギノ角ゴシック", Hiragino Kaku Gothic ProN, "ヒラギノ角ゴ ProN W3", Roboto, "Droid Sans", YuGothic, "游ゴシック", Meiryo, "メイリオ", Verdana, "ＭＳ Ｐゴシック", sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
	transition: 0.3s;
}

a:hover {
	opacity: 0.7;
}

img {
	height: auto;
	width: 100%;
}

/* fuwa start */

.fadeUp {
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-name: fadeUpAnime;
}

.fuwa {
	opacity: 0;
}

/* fuwa end */

header {
	height: 100vh;
	min-height: 600px;
	position: relative;
}

.header-content-area {
	background: url(../img/header-bg.png) no-repeat center center/cover;
	height: 100vh;
	left: 50%;
	min-height: 600px;
	position: absolute;
	top: 0;
	transform: translateX(-50%);
	width: 100%;
	z-index: 0;
}

.header-content-area-inner {
	margin: 0 auto;
	width: calc(100% - 80px);
}

.header-list {
	display: flex;
	gap: 20px;
	justify-content: flex-end;
	margin-top: 42px;
}

.header-list li a {
	color: #FFFFFF;
	font-family: "Inter";
	font-size: 12px;
	font-weight: 400;
	line-height: 15px;
}

.header-logo {
	left: 50%;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 260px;
}

.scroll {
	bottom: 0;
	color: #fff;
	display: inline-block;
	font-family: "Inter", sans-serif;
	font-size: 12px;
	left: 50%;
	letter-spacing: 0.29em;
	line-height: 15px;
	overflow: hidden;
	padding: 0 0 73px 17px;
	position: absolute;
	text-transform: uppercase;
	transform: translateX(-50%);
	writing-mode: vertical-lr;
	z-index: 2;
}

.scroll::after {
	animation: sdl 2s cubic-bezier(1, 0, 0, 1) infinite;
	background: #FFFFFF;
	bottom: 0;
	content: "";
	height: 138px;
	left: 0;
	position: absolute;
	width: 1px;
}

.header-sp {
	background: #fff;
	display: none;
}

.drawer-icon {
	display: none;
	position: fixed;
	right: 12px;
	top: 24px;
	transition: transform 0.5s ease 0s;
	z-index: 11;
}

.drawer-icon.is-active {
	transform: translateX(-308px);
}

.drawer-icon.is-active .drawer-icon-bar1 {
	background: #fff;
	top: 8px;
	transform: rotate(-45deg);
	transition: transform 0.5s ease 0s;
}

.drawer-icon.is-active .drawer-icon-bar2 {
	display: none;
	transition: transform 0.5s ease 0s;
}

.drawer-icon.is-active .drawer-icon-bar3 {
	background: #fff;
	top: 8px;
	transform: rotate(45deg);
	transition: transform 0.5s ease 0s;
}

.drawer-icon-bars {
	border-radius: 2px;
	display: block;
	height: 21px;
	position: relative;
	width: 32px;
}

.drawer-icon-bar1,
.drawer-icon-bar2,
.drawer-icon-bar3 {
	background: #FFFFFF;
	border-radius: 2px;
	height: 3px;
	left: 0;
	position: absolute;
	top: 0;
	width: 32px;
	z-index: 11;
}

.drawer-icon-bar1 {
	border-radius: 2px;
	top: 0px;
}

.drawer-icon-bar2 {
	border-radius: 2px;
	top: 9px;
}

.drawer-icon-bar3 {
	border-radius: 2px;
	top: 18px;
}

.drawer-content {
	background: #001224;
	height: 100%;
	position: fixed;
	right: 0;
	top: 0;
	transform: translateX(105%);
	transition: transform 0.5s ease 0s;
	width: 300px;
	z-index: 11;
}

.drawer-content.is-active {
	transform: translateX(0%);
	transition: transform 0.5s ease 0s;
}

.drawer-content-items {
	display: block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}

.drawer-content-item {
	text-align: center;
}

.drawer-content-item:not(:first-child) {
	padding-top: 32px;
}

.drawer-content-item a {
	color: #FFFFFF;
	display: block;
	font-size: 18px;
	padding: 10px 0;
	text-decoration: none;
}

.drawer-background {
	background: rgba(0, 0, 0, 0.7);
	display: none;
	height: 100vh;
	left: 0;
	position: fixed;
	top: 0;
	width: 100vh;
	z-index: 10;
}

.drawer-background.is-active {
	display: block;
}

.usual__inner {
	margin: 0 auto;
	padding: min(8.3333333333vw, 120px) 0;
	width: 95%;
}

.usual__title {
	color: #454D5C;
	font-size: min(5vw, 72px);
	font-weight: 600;
	line-height: min(6.9444444444vw, 100px);
	text-align: center;
}

.usual__items {
	display: flex;
	gap: min(4.1666666667vw, 60px);
	justify-content: center;
	margin-top: min(4.4444444444vw, 64px);
}

.usual__item {
	display: inline-block;
	width: min(25vw, 360px);
}

.usual__item-title {
	color: #000;
	font-size: min(1.3888888889vw, 20px);
	font-weight: 600;
	line-height: normal;
	margin-top: min(1.6666666667vw, 24px);
	text-align: center;
}

.usual__item-text {
	color: #454D5C;
	font-size: min(1.1111111111vw, 16px);
	font-weight: 600;
	line-height: min(1.6666666667vw, 24px);
	margin-top: min(0.5555555556vw, 8px);
	text-align: center;
}

.hack-2026 {
	background: url(../img/bg-2026.png) no-repeat center center/cover;
	background-attachment: fixed;
	height: 100vh;
	min-height: 934px;
	position: relative;
}

.hack-2025 {
	background: url(../img/bg-2025.png) no-repeat center center/cover;
	background-attachment: fixed;
	height: 100vh;
	min-height: 934px;
	position: relative;
}

.hack-2024 {
	background: url(../img/bg-2024.png) no-repeat center center/cover;
	background-attachment: fixed;
	height: 100vh;
	min-height: 934px;
	position: relative;
}

.hack-2023 {
	background: url(../img/bg-2023.png) no-repeat center center/cover;
	background-attachment: fixed;
	height: 100vh;
	min-height: 934px;
	position: relative;
}

.hack-2022 {
	background: url(../img/bg-2022.png) no-repeat center center/cover;
	background-attachment: fixed;
	height: 100vh;
	min-height: 934px;
	position: relative;
}

.hack__inner {
	display: flex;
	gap: min(8.3333333333vw, 120px);
	justify-content: center;
	left: 50%;
	margin: 0 auto;
	max-width: 1240px;
	padding: min(8.3333333333vw, 120px) 0;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
}

.flex-reverse {
	flex-direction: row-reverse;
}

.hack__left {
	width: min(33.3333333333vw, 480px);
}

.hack__logo {
	width: 100%;
}

.hack__title {
	color: #FFF;
	font-size: min(3.8888888889vw, 56px);
	font-weight: 600;
	line-height: min(5vw, 72px);
	margin-bottom: min(1.6666666667vw, 24px);
	margin-top: min(5.5555555556vw, 80px);
	white-space: nowrap;
}

.hack__title span {
	color: #FFF;
	font-size: min(2.7777777778vw, 40px);
	font-weight: 600;
	line-height: min(5vw, 72px);
}

.hack__text {
	color: #FFF;
	font-size: min(1.1111111111vw, 16px);
	font-weight: 600;
	line-height: 2;
	white-space: normal;
}

.hack__text-2 {
	color: #FFF;
	font-size: min(1.1111111111vw, 16px);
	font-weight: 600;
	line-height: 2;
}

.hack__right {
	background: rgba(2, 2, 3, 0.7);
	padding: min(15.2083333333vw, 219px) min(2.7777777778vw, 40px);
	width: min(41.6666666667vw, 600px);
}

.hack__right-2 {
	padding: min(2.7777777778vw, 40px);
}

.hack__right-title {
	color: rgba(255, 255, 255, 0.64);
	font-size: min(1.6666666667vw, 24px);
	font-weight: 400;
	letter-spacing: min(0.0007548309vw, 1.92px);
	line-height: normal;
	margin-bottom: min(0.5555555556vw, 8px);
	margin-top: min(1.1111111111vw, 16px);
	text-align: center;
}

.hack__right-title-2 {
	margin-bottom: min(0.5555555556vw, 8px);
	margin-top: min(1.6666666667vw, 24px);
}

.hack__button-container {
	margin-top: min(4.4444444444vw, 64px);
	text-align: center;
}

.about {
	background: url(../img/about-bg.png) no-repeat center center/cover;
	background-attachment: fixed;
	height: 100vh;
	min-height: 592px;
	position: relative;
}

.about__inner {
	left: 50%;
	margin: 0 auto;
	max-width: 1240px;
	padding: min(8.3333333333vw, 120px) 0;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 95%;
}

.about__title {
	color: #FFF;
	font-size: min(5vw, 72px);
	font-weight: 600;
	line-height: normal;
	text-align: center;
}

.about__text {
	color: #FFF;
	font-size: min(1.3888888889vw, 20px);
	font-weight: 600;
	line-height: min(2.6388888889vw, 38px);
	margin-top: min(2.7777777778vw, 40px);
	text-align: center;
}

.about__button-container {
	margin-top: min(4.4444444444vw, 64px);
	text-align: center;
}

.button {
	background-color: #FFFFFF;
	border-radius: min(3.4027777778vw, 49px);
	color: #6B6B6B;
	display: inline-block;
	font-size: min(1.3888888889vw, 20px);
	font-weight: 600;
	line-height: normal;
	padding: min(1.1805555556vw, 17px);
	text-align: center;
	width: min(23.1944444444vw, 334px);
}

footer {
	background: #001224;
}

.footer-inner {
	align-items: center;
	color: #FFFFFF;
	display: flex;
	font-size: 20px;
	font-weight: 300;
	justify-content: space-between;
	line-height: 99px;
	margin: 0 auto;
	max-width: 1305px;
	position: relative;
	width: 90%;
}

.footer-sns-icons {
	align-items: center;
	display: flex;
	gap: 42px;
}

.footer-sns-icons a {
	display: inline-block;
}

.footer-sns-icons a object {
	pointer-events: none;
}

.footer-sns-icon-1 {
	height: 36px;
	position: relative;
	width: 36px;
}

.footer-sns-icon-1 object {
	content: "";
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}

.footer-sns-icon-2 {
	height: 31px;
	position: relative;
	width: 41px;
}

.footer-sns-icon-2 object {
	content: "";
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}

.footer-sns-icon-3 {
	height: 29px;
	position: relative;
	width: 29px;
}

.footer-sns-icon-3 object {
	content: "";
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}

.footer-sns-icon-4 {
	height: 29px;
	position: relative;
	width: 29px;
}

.footer-sns-icon-4 object {
	content: "";
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}

.footer-sns-icon-5 {
	height: 29px;
	position: relative;
	width: 29px;
}

.footer-sns-icon-5 object {
	content: "";
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}

@media (max-width: 767px) {

.header-list {
	display: none;
}

.header-logo {
	left: 50%;
	margin-top: 0;
	max-width: 375px;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
}

.header-sp {
	display: block;
	position: relative;
	z-index: 10;
}

.drawer-icon {
	display: block;
}

.usual__inner {
	padding: 10.6666666667vw 0;
}

.usual__title {
	font-size: 6.4vw;
}

.usual__items {
	display: block;
	text-align: center;
}

.usual__item {
	width: 80vw;
}

.usual__item:not(:first-child) {
	margin-top: 8.5333333333vw;
}

.usual__item-title {
	font-size: 6.4vw;
	margin-top: 1.3333333333vw;
}

.usual__item-text {
	font-size: 4.2666666667vw;
	line-height: 6.4vw;
	margin-top: 0vw;
}

.hack-2026 {
	height: auto;
	min-height: auto;
}

.hack-2025 {
	height: auto;
	min-height: auto;
}

.hack-2024 {
	height: auto;
	min-height: auto;
}

.hack-2023 {
	height: auto;
	min-height: auto;
}

.hack-2022 {
	height: auto;
	min-height: auto;
}

.hack__inner {
	display: block;
	left: 0;
	padding: 10.6666666667vw 0;
	position: relative;
	top: 0;
	transform: translate(0, 0);
}

.hack__left {
	width: 100%;
}

.hack__logo {
	width: 50%;
}

.hack__title {
	font-size: 8vw;
	line-height: 8vw;
	margin-bottom: 4vw;
	margin-top: 5.3333333333vw;
}

.hack__title span {
	font-size: 5.3333333333vw;
	line-height: 8vw;
}

.hack__text {
	font-size: 2.8vw;
	white-space: normal;
}

.hack__text-2 {
	font-size: 2.8vw;
}

.hack__right {
	margin-top: 8vw;
	padding: 5.3333333333vw;
	width: 100%;
}

.hack__right-2 {
	padding: 5.3333333333vw;
}

.hack__right-title {
	font-size: 3.2vw;
	margin-bottom: 2.1333333333vw;
	margin-top: 2.6666666667vw;
}

.hack__right-title-2 {
	margin-bottom: 2.1333333333vw;
	margin-top: 4.2666666667vw;
}

.hack__button-container {
	margin-top: 5.3333333333vw;
}

.about {
	min-height: 250px;
}

.about__inner {
	padding: 10.6666666667vw 0;
}

.about__title {
	font-size: 8vw;
}

.about__text {
	font-size: 3.7333333333vw;
	line-height: 5.6vw;
	margin-top: 5.3333333333vw;
}

.about__button-container {
	margin-top: 6.4vw;
}

.button {
	border-radius: 13.3333333333vw;
	font-size: 3.2vw;
	padding: 2.1333333333vw;
	width: 40vw;
}

footer {
	padding: 15px 0;
}

.footer-inner {
	display: block;
}

.footer-sns-icons {
	gap: 20px;
}

.footer-sns-icon-1 {
	height: 18px;
	width: 18px;
}

.footer-sns-icon-2 {
	height: 15px;
	width: 20px;
}

.footer-sns-icon-3 {
	height: 15px;
	width: 15px;
}

.footer-sns-icon-4 {
	height: 15px;
	width: 15px;
}

.footer-sns-icon-5 {
	height: 15px;
	width: 15px;
}

.copyright {
	margin-top: 20px;
}

}

@media (max-width: 767px) and (max-width: 767px) {

.footer-inner {
	font-size: 12px;
	line-height: 20px;
}

}

@keyframes fadeUpAnime {

0% {
	opacity: 0;
	transform: translateY(100px);
}

100% {
	opacity: 1;
	transform: translateY(0);
}

}

@keyframes sdl {

0% {
	transform: scale(1, 0);
	transform-origin: 0 0;
}

30% {
	transform: scale(1, 1);
	transform-origin: 0 0;
}

70% {
	transform: scale(1, 1);
	transform-origin: 0 100%;
}

100% {
	transform: scale(1, 0);
	transform-origin: 0 100%;
}

}

